---
---

.head {
  address {
    margin-left: auto;
  }
}

.head, .section {
  display: flex;
  margin-bottom: 30px;
}

.section-title {
  flex: 1;
}

.section-content {
  flex: 3;
  padding-top: 5px;
}

.skills-content {
  display: flex;

  .skill-category {
    flex: 1;
  }
}
